<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite"  >         
  
   
   <test name="GetStartedTest" >
	 <classes>
	   <class name="com.nationalguard.ddf.testcases.NationalGuardGetStarted"/>
	 </classes>
   </test>
   
    <test name="FitnessCalculatorTest" >
	 <classes>
	   <class name="com.nationalguard.ddf.testcases.FitnessCal"/>
	 </classes>
   </test>
   
   <test name="WeightCalculatorTest" >
	 <classes>
	   <class name="com.nationalguard.ddf.testcases.WeightCalculatorTest"/>
	 </classes>
   </test>
   
      <test name="GuardPayTest" >
	 <classes>
	   <class name="com.nationalguard.ddf.testcases.GuardPayTest"/>
	 </classes>
   </test>
   
     <test name="AsvabTest" >
	 <classes>
	   <class name="com.nationalguard.ddf.testcases.AsvabTest"/>
	 </classes>
   </test>
   
    <test name="CareerOptionsLinksTest" >
	 <classes>
	   <class name="com.nationalguard.ddf.testcases.CareerOptionsLinksTest"/>
	 </classes>
   </test>
   
    <test name="EligibilityLinksTest" >
	 <classes>
	   <class name="com.nationalguard.ddf.testcases.EligibilityLinksTest"/>
	 </classes>
   </test>
   
   
   <test name="ShareButtonLinkTest" >
	 <classes>
	   <class name="com.nationalguard.ddf.testcases.ShareButtonLinkTest"/>
	 </classes>
   </test>
   
   
   <test name="WhatItTakesLinksTest" >
	 <classes>
	   <class name="com.nationalguard.ddf.testcases.WhatItTakesLinksTest"/>
	 </classes>
   </test>
   
</suite>